:root {
	--theme-color: #1e98e9;

	--theme-grad-1: #1e98e9;
	--theme-grad-2: #1eC4e9;

	--theme-grey-1: #353535;
	--theme-grey-2: #3e3e3e;
	--theme-grey-3: #4c4c4c;
	--theme-grey-4: #808080;
	--theme-grey-5: #acacac;
	--theme-grey-6: #d0d0d0;
	--theme-grey-7: #e0e0e0;
	--theme-grey-8: #eaeaea;
	--theme-grey-9: #f1f2f3;
	--theme-grey-10: #ffffff;

	--theme-alert: #ef5350;

	--theme-font: 'Roboto', 'NanumSquare', sans-serif;
	--theme-font-title: 'Titillium Web', 'NanumSquare', sans-serif;
}
